body {
  background-color: #626d8d;
}
.App {
  display: flex;
  justify-content: space-around;
 }
 .block {
   background-color:#95bed0;
   padding: 25px;
 }
 img {
  width: 400px;
 }
 .cartIcon {
  width: 70px;

 }
 .categoryButton:hover {

  background-color: #bf3bd1;

}

.categoryButtonSelected {

  background-color: rgb(51, 118, 200);
  

}
.categoryButton {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}
.icon {
  width: 25px;
}
p, h1, h2, h3, button {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 20px;

}
button {
  background-color: rgb(51, 118, 200);
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;

}